*{
    margin: 0;
    padding: 0;
}
.tela{
    padding:2px;
    height:100vh;
    width:100vw;
    display:flex;
    
    background-color:rgba(255,255,255,1.5);
   
    
  }
  #cadastro{
  background-color: #EDEDED;
  width: 400px;
  height: 300px;
  }
  input{
    border-top:none;
    border-left:none;
    border-right:none; 
    background-color: transparent;  
    margin-left: 10px;
  }
  label{
    margin-left: 10px;
  }
 h1{
  margin-bottom: 20px
 }
  .formulario{
    width:400px;
    left:30%;
    margin-top:100px;
    padding-top: 5px;
    border-radius: 5px;
    height: 210px;
    background-color: rgba(0,0,0,0.2);
    position:absolute;
  }
  button{
    display: flex;
    background-color: #800080;
    justify-content: center;
    width: 100px;
    margin-left: 200px;
    margin-top: 5px;
    border-radius: 20px;
    text-align: center;
    color: yellow;
    height: 20px;
  }
  .titulo{
    width:70%;
    height:100%;
    font-size:20px;

    background-image:url('/static/img/Group\ 7.svg');
    background-repeat: no-repeat;
    background-size:600px;
    color:white;
    text-align:center;
  }
  .labelfile{
    
    margin:0.2px;
    padding:0.5px;
   
  
    
    
  }
  .labelproduto{
    margin:0.2px;
    padding:0.5px;
  }
  .file > input{
    background-color:transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    display: inline;
    outline:none;
    
     padding:0.5px;
    width:300px;
    
  }
  .produto > input{
    background-color:transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    display: inline;
    outline:none;
    
     padding:0.5px;
    width:300px;}
  .labelpreco{
    margin:0.2px;
    padding:0.5px;
  
  
  }
  .preco>input{
    background-color:transparent;
    border-top:none;
    border-left:none;
    border-right:none;
  
    outline:none;
    
     padding:0.5px;
  width:300px;
  
  }
 
  .incorreto{
    border: 1px solid red;
    border-top:1px solid red;
    border-left:1px solid red;
    border-right:1px solid red;
  
  }
  #msg>img{
    width: 50px;
    height: 50px;
  }
  .submit{
    width: 100%;
  }