<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/consumidor/formulario.css">
  <title>Document</title>
</head>
<body>
  
  <div class="tela">
    <div class="titulo">
      </div>
      <div class="formulario">
     
  <form id="cadastro" action="formulario_cadastro" method="post">
    <h1 id="h1">Faça seu cadastro!!</h1>
 <label for="nome">NOME</label>
 <div class="nome">
  <input type="text" id="nome" name="nome" required="required">
 </div>
    <label for="cpf">CNPJ</label>
    <div class="cpf">
      
    <input type="text" name="cnpj" id="cnpj" class=" validar" required="required">
    </div>
    <div class="labetipo">
      <label for="tipo">TIPO</label>
    </div>
    <div class="tipo">
      <input type="text" id="tipo" name="tipo">
    </div>
    <div class="labelcep">
        <label for="cep">CEP</label>
      </div>
      
      <div class="chave">
        <input type="text" id="cep" name="cep">
      </div>
      <div class="labelnumero">
        <label for=" numero">Número da empresa</label>

      </div>
      <div class="numero">
        <input type="text" id="numero" name="numero">
      </div>
      <div class="labelcep">
        <label for="chave">CHAVE</label>
      </div>
      <div class="chave">
        <input type="text" id="chave" name="chave">
      </div>
    <div class="labelSenha">
      <label for="senha">SENHA</label>
    </div>
    <div class="senha">
    <input type="password" name="senha" id="senha" class="validar" autocomplete="on" required="required">
    </div>
    <div class="rua">
      
    </div>
    <div class='submit'>
    <button type="submit">enviar</button>
    </div>
  </form>
  </div>
  </div>
  
</div>  <script src="/static/js/consumidor/cadastro.js"></script>
</body>
</html>