<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/comerciante/venda.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="tela">
        <fieldset  class="cabeca">
      <header >
          
       <img src="/static/img/Group 18.png">
       
      
        </header>
      </fieldset>
        <div class="endereco">
        
          <p>Rua, Ademir Martins, Ibura,Recife/PE</p>
        </div>
        
        <div class="pesquisa">
        <form > 
          <input type="text" id="buscar" placeholder="buscar">
          <!-- <button class="lupa" type="submit"><img src="/static/img/Group 8.png"></button> -->
          </form>
        </div>
        <div class="menu">
         <a class="inicio" href="/comerciante">Inicio</a>
         <a class="historicoVendas" href="/relatorio{{id}}">Seu relatório de vendas</a>
         
    
        </div>
        <div class="relatorio">
          <h2>Numero de vendas: 0%</h2>
          <h2>Crescimento em relação ao dia anterior:0% </h2>
          <h2>Valor arrecadado: R$ 0.00 </h2>
        </div>
        </div>
        <hr>
      <div class="rodape">
    
        <div class="direitos">
        <p class="titulo">Direitos reservados a Ibura Place ltda.</p>
        <p>Contato(empresarial)</p>
        <p>Localização</p>
        <p>Email</p>
        </div>
        <div class="conta">
          <p class="titulo">Conta</p>
          <p><a class="link" href="/excluirConta">Excluir Conta</a></p>
          <p><a class="link" href="/logoutComercio" >Logout</a></p>
          <p>Edita perfil</p>
        </div>
        <div class="ajuda">
          <p class="titulo">Ajuda</p>
          <p>Fale Conosco: 0800 xxxxx</p>
          <p>Email: xxxxx</p>
        </div>
</body>
</html>